<div class="modal-body">
    <div class="row-fluid">
        <div class="controls span6">
            <label class="control-label" for="Title">Title and summary</label>
            <input type="text"
                   class="input-xlarge" id="Title" " id="Title" "
                   placeholder="Title of the article" />
            <textarea class="input-xlarge" id="Summary" "
                      id="Summary" " rows="5" cols="0"
                      placeholder="Summary"></textarea>
        </div>
        <div class="controls span6">
            <label class="control-label" for="Title">Date of publication</label>
            <input type="month" class="input-xlarge" id="PubMonth" " id="PubMonth" " />
            <label class="control-label" for="Magazine">Publication</label>
            <input type="text" class="input-xlarge" id="Magazine" " id="Magazine" "
                   placeholder="Magazine" />
            <input type="text" class="input-xlarge" id="Url" " id="Url" "
                   placeholder="Url" />
        </div>
    </div>
</div>
<div id="validationSummary" " class="validation-summary">
    <ul></ul>
</div>