@model ProgramWeb.Models.ViewModel.UserProjectsViewModel

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Sign this petition!</h4>
            </div>
            <div class="modal-body">
                <p>Fields for the signatures here, take some from the facebook API</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Sign now!</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="sidebar-menu">
    <h3> @Html.ActionLink("Hello " + User.Identity.Name, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</h3>

@foreach (var project in Model.ProjectList)
{
    <a data-toggle="modal" href="#myModal">@project.Name</a>
     <a href="~/Views/Shared/_UserInformation.cshtml" id="asdf" data-toggle="modal" data-target="#theModal">@project.Name</a>
    foreach (var file in project.ProjectFiles)
    {
        <p><button href="#myModal" onclick="setEditorContent('*@file.Content', this)">@file.Name</button></p>
    }
}
</div>



<script>
    var setEditorContent = function (value, object) {
        editor.getSession().setValue(value)
    };

</script>



