<!--- Sidemenu -->
<div id="sidebar-menu">
    <ul>
        <li>
            <a href="#">Dashboard</a>
        </li>

        <li class="has_sub">
            <a href="#">Application Setup</a>
            <ul class="list-unstyled">
                <li><a href="#">User Manager</a></li>
                <li><a href="#">Manage User</a></li>
                <li><a href="#">Change Password</a></li>
                <li><a href="#">Logoff</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- Sidebar -->