<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>CustomError.</h1>
        <h2>You are experiencing a custom error</h2>
    </hgroup>

</body>
</html>