#entiresite {
  /* Specifies that the contents will be laid out according to Flexbox rules. */
	display: flex;
} 
nav {
	background: #C9BFBF;
	/* Shorthand property specifying flex-grow, flex-shrink, and flex-basis. */
	flex: 1 1 15%;
	min-width: 150px;
	margin: 3px;
	padding: 3px;
}
aside {
	background: #C9C9C9;
	/* Shorthand property specifying flex-grow, flex-shrink, and flex-basis. */
	flex: 1 1 15%;
	min-width: 150px;
	padding: 3px;
	margin: 3px;
}
#editor {
	min-height: 800px;
	background: #ABABAB;
	/* Shorthand property specifying flex-grow, flex-shrink, and flex-basis. */
	flex: 2 1 70%;
	margin: 3px;
	padding: 3px;
}