#entiresite {
  /* Specifies that the contents will be laid out according to Flexbox rules. */
	display: flex;
} 
nav {
	background: #C9BFBF;
	/* Shorthand property specifying flex-grow, flex-shrink, and flex-basis. */
	flex: 1 1 15%;
	min-width: 250px;
	margin: 3px;
	padding: 3px;
}
aside {
	background: #C9C9C9;
	/* Shorthand property specifying flex-grow, flex-shrink, and flex-basis. */
	flex: 1 1 15%;
	min-width: 150px;
	padding: 3px;
	margin: 3px;
}
#editor {
	min-height: 800px;
	background: #ABABAB;
	/* Shorthand property specifying flex-grow, flex-shrink, and flex-basis. */
	flex: 2 1 70%;
	margin: 3px;
	padding: 3px;
}

.modal-content {
    width: 600px !important;
    margin: 30px auto !important;
}
.modal-backdrop {
  z-index: -1;
}

.loginBoxPosition{
    float:right;
    width:450px;
    left:50px;
}

.imgPos{
    
    padding-top:50px;
    padding-bottom:50px;
    
}

.logoPosSize{
    padding:0px;
    margin:0px;
    border:0px;

}

.quoteMovePos{
    display:inline;
    color:white;
    font-size:small;
    font-style:italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:relative;
    top:10px;
}
