@model  System.Collections.Generic.IEnumerable<ProgramWeb.Models.ViewModel.ProjectViewModel>
@{
    ViewBag.Title = "About the project";
}
<div class="about-center">
    <h2>@ViewBag.Title.</h2>

    <div>Some text about the project</div>

    <h3>The Team</h3>
    <div>Pictures of the team</div>
</div>