@model  System.Collections.Generic.IEnumerable<ProgramWeb.Models.ViewModel.ProjectViewModel>
@{
    ViewBag.Title = "About the project";
}
<div class="infoPages">
    <div class="aboutDefault">
        <div class="about-center">
            <h2>@ViewBag.Title.</h2>

            <div>Skrifill is an Online HTML editor created by 5 Computer Science students at Reykjavik University</div>

            <h3>The Team</h3>
            <div>
                <ul class="teamList">
                    <li>
                        <img src="~/Content/Images/david.png" /> <br />
                        Davíð Valdimar Valsson
                    </li>
                    <li>
                        <img src="~/Content/Images/funi.png" /> <br />
                        Funi Magnússon
                    </li>
                    </li>
                    <li>
                        <img src="~/Content/Images/neddi.png" /> <br />
                        Gunnar Gunnarsson
                    </li>
                    <li>
                        <img src="~/Content/Images/sigga.png" /><br />
                        Sigríður Ösp E. Arnarsdóttir
                    </li>
                    <li>
                        <img src="~/Content/Images/styrmir.png" /> <br />
                        Styrmir Dýrfjörð
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>