@model System.Web.Mvc.HandleErrorInfo
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Editorediting";
}

<section id="entiresite">
    <nav>
        <section id="navigation">
            @Html.Action("Menu", "Navigation")

        </section>
    </nav>
    <div id="theModal" class="modal fade text-center">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <section id="editor"></section>
    <aside>aside</aside>
</section>
<a href="CreateProject" data-toggle="modal" data-target="#theModal">Lab 6</a>

@section scripts
{
    <script src="~/CustomData/Ace/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/chrome");
        editor.getSession().setMode("ace/mode/html");
    </script>
}