@model IEnumerable<ProgramWeb.Models.ViewModel.TestData>

@{
    ViewBag.Title = "Editorediting";
}
<section id="entiresite">
<nav>
    @foreach (var project in Model)
    {
        <h3>@project.Name</h3>
        <div>
            <ul>
                @foreach (var files in project.Files)
                {
                    <li>
                        @files
                    </li>
                }
            </ul>
        </div>
    }
</nav>
    <section id="editor">

    </section>
    <aside>aside</aside>
</section>


<script src="~/CustomData/Ace/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/chrome");
    editor.getSession().setMode("ace/mode/html");
</script>