@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Editorediting";
}
<section id="entiresite">
<nav>Navigation</nav>
    <section id="editor">

    </section>
    <aside>aside</aside>
</section>


<script src="~/CustomData/Ace/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/chrome");
    editor.getSession().setMode("ace/mode/html");
</script>