@model System.Web.Mvc.HandleErrorInfo
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Editorediting";
}
<section id="entiresite">
    <nav>
        <section id="navigation">
            @Html.Action("Menu", "Navigation")
        </section>
    </nav>
    <section id="editor"></section>
    <aside>aside</aside>
</section>





<div> <input type="button" value="Toggle sidebar" onclick="hideSidebar()" /></div>
<script src="~/CustomData/Ace/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
<script src="~/signalr/hubs"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/chrome");
    editor.getSession().setMode("ace/mode/html");

    function hideSidebar() {
        $("nav").toggle();
    }

    var codehub = $.connection.codeHub;
    $.connection.hub.start().done(function () {
        editor.on("change", function (obj) {
            console.log(obj);
        });
    });



</script>
